<ion-view title="Apartamente">
    <ion-content>

        <label class="item item-input" style="margin-bottom: 10px;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Căutare..." ng-model="query">
        </label>

        <ion-list>
            <ion-item class="item-divider">
                <div class="row apartments-header">
                    <div class="col-10"><b>Bl.</b></div>
                    <div class="col-10"><b>Sc.</b></div>
                    <div class="col-10"><b>Ap.</b></div>
                    <div class="col-67"><b>Locatar</b></div>
                </div>
            </ion-item>
            <ion-item ng-repeat="apartment in apartments | filter:query">
                <div class="row" ng-click="view(apartment.idApartment)">
                    <div class="col-10">{{ apartment.blockNumber }}</div>
                    <div class="col-10">{{ apartment.entranceNumber }}</div>
                    <div class="col-10">{{ apartment.apartmentNumber }}</div>
                    <div class="col-67">{{ apartment.tenantName }}</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>